POSTGRES_DB=name_of_your_database
POSTGRES_USER=name_of_your_database_user
POSTGRES_PASSWORD=password_for_your_database_user

DB_HOST=localhost
DB_PORT=5432
DB_NAME=name_of_your_database
DB_USERNAME=name_of_your_database_user
DB_PASSWORD=password_for_your_database_user

JWT_SECRET_KEY=secret_key_for_jwt
JWTT_EXPIRATION=time

GOOGLE_API_KEY=your_google_api_key_here